In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [131]:
df1=pd.read_csv("data.csv")
df1.sample(5)

                password strength
646719        delfia2684        1
195538         SA4887900        1
1144    u0mESKDQxMAzU0wR        2
426181        rankudo123        1
298772            zf44yy        0

In [132]:
df1 = df1.dropna()
df1["strength"] = df1["strength"].map({"0": 'Weak', "1": 'Medium',"2": 'Strong'})
df1.sample(5)

          password strength
122024   coqyre662   Medium
528597   johnk2101   Medium
568289   medyno869   Medium
95759    zaq123wsx   Medium
607436  krakker101   Medium

In [152]:
df1['strength'].fillna("Weak",inplace=True)
df1

            password strength
0           kzde5577   Medium
1           kino3434   Medium
2          visi7k1yr   Medium
3           megzy123   Medium
4        lamborghin1   Medium
...              ...      ...
669874    10redtux10   Medium
669875     infrared1   Medium
669876  184520socram   Medium
669877     marken22a   Medium
669878      fxx4pw4g   Medium

[669878 rows x 2 columns]

In [148]:
df1.sample(5)

                   password strength
275875  khristina.lyubova2K   Strong
21782             trace2012   Medium
442812            16896866q   Medium
341790             malena12   Medium
584556            condo1234   Medium

In [153]:
def word(password):
    character=[]
    for i in password:
        character.append(i)
    return character
  
x = np.array(df1["password"])
y = np.array(df1["strength"])

tdif = TfidfVectorizer(tokenizer=word)
x = tdif.fit_transform(x)
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.05, random_state=42)

/Users/tejastejale/anaconda3/lib/python3.11/site-packages/sklearn/feature_extraction/text.py:525: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

In [90]:

df1.sample(5)

           password strength
238611    gugahks91   Medium
517122   zjh7201990   Medium
308522   54085408zk   Medium
16311   s01oxyqy00h   Medium
590448    hh8660310   Medium

In [154]:
model = RandomForestClassifier()
model.fit(xtrain, ytrain)
print(model.score(xtest, ytest))

0.9569475129874008

In [119]:
print(df1.sample(5))

                password strength
430600  8FkGdsTE2NA4gB1N   Strong
63257         EBMM070277   Medium
157957   Espiritujd1804-   Strong
399410         s9875321s   Medium
257093        bleberan99   Medium

In [159]:
import getpass
user = getpass.getpass("Enter Password: ")
data = tdif.transform([user]).toarray()
output = model.predict(data)
print(output)

['Strong']